<template>
    <div>
        <button class="btn btn-primary w-24 mr-1 mb-2">{{ user.name }}</button>
        <button class="btn btn-secondary w-24 mr-1 mb-2">Secondary</button>
        <button class="btn btn-success w-24 mr-1 mb-2">Success</button>
        <button class="btn btn-warning w-24 mr-1 mb-2">Warning</button>
        <button class="btn btn-pending w-24 mr-1 mb-2">Pending</button>
        <button class="btn btn-danger w-24 mr-1 mb-2">Danger</button>
        <button class="btn btn-dark w-24 mr-1 mb-2">Dark</button>
    </div>
</template>
<script>
    export default {
        name: 'Usuarios',
        data(){
            return {
                user: {
                    name: 'Esteban Cardona',
                },
            }
        }
    }
</script>